* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-content {
  padding: 37px;
}

.App {
  text-align: center;
}

h1, h2 {
  text-align: center;
}

.category-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.category-buttons button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #727a1c;
  color: #fff;
  border: none;
  cursor: pointer;
}

.category-buttons button.active {
  background-color: #333;
}

.selected-category {
  margin-bottom: 10px;
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  position: relative;
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;

}

.product-img {
  width: 80%;
  height: auto;
}

.heart-fav {
  width: 20px ;
  position: absolute;
  right: 20px;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card p {
  margin: 5px 0;
}

button {
  background: #727a1c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background: #9aae2a;
}


button a {
  color: #fff;
  text-decoration: none;
}

.is-loading, .error-message, .no-product{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px
}

.detail-container {
  display: flex;
  margin-top: 37px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail-price p {
  font-size: large;
  background-color: #cde05d;
  padding: 8px;
  border-radius: 5px;
  color: #000000;
  margin-top: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 200px;
  margin: 30px;
}

.navbar {
  background-color: #373c01;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-right: 10px;
  padding: 10px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  color: #ccc;
}

.favorite-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorite-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.favorite-container button {
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
  background-color: #9aae2a;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.favorite-container button:hover {
  background-color: #7e8a24;
}